@import "@nuxt/ui";
@import "tailwindcss";
@import "@catppuccin/tailwindcss/macchiato.css";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-mono: 'Victor Mono', monospace;
    --font-pinyon: 'Pinyon Script', cursive;
}

html {
    @apply scroll-smooth overflow-x-hidden;
}


.dark {
    /* ? Colors */
    --ui-primary: var(--color-ctp-sapphire);
    --ui-secondary: var(--color-ctp-mauve);
    --ui-success: var(--color-ctp-green);
    --ui-info: var(--color-ctp-blue);
    --ui-warning: var(--color-ctp-yellow);
    --ui-error: var(--color-ctp-red);

    /* ? Background */
    --ui-bg: var(--color-ctp-crust);
    --ui-bg-muted: var(--color-ctp-mantle);
    --ui-bg-elevated: var(--color-ctp-base);
    --ui-bg-accented: var(--color-ctp-surface0);
    --ui-bg-inverted: var(--color-ctp-text);

    /* ? Text */
    --ui-text-dimmed: var(--color-ctp-subtext1);
    --ui-text-muted: var(--color-ctp-subtext0);
    --ui-text-toned: var(--color-ctp-text);
    --ui-text: var(--color-ctp-text);
    --ui-text-highlighted: var(--color-ctp-text);
    --ui-text-inverted: var(--color-ctp-crust);

}

@keyframes move-bg {
    to {
        background-position: 600% 0;
    }
}

.animated-gradient {
    background-size: 600%;
    animation: move-bg 10s infinite linear;
    @apply bg-linear-to-r from-primary via-secondary to-primary shadow-lg;
}