@import "tailwindcss";
@import "@catppuccin/tailwindcss/macchiato.css";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-mono: 'Victor Mono', monospace;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}